<a href="https://colab.research.google.com/github/poddardelhi/finland-train_eda/blob/main/eda_jupyter_notebook.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Finland Train Data

In [ ]:
# Jovian Commit Essentials
# Please retain and execute this cell without modifying the contents for `jovian.commit` to work
!pip install jovian --upgrade -q
import jovian
jovian.set_project('finland-train')
jovian.set_colab_id('1dvIeWT_wqfFn2FtxhWW9Zv6hoWoRBtSw')

     |████████████████████████████████| 71kB 3.6MB/s
  Building wheel for uuid (setup.py) ... done

In [ ]:
# Execute this to save new versions of the notebook
jovian.commit(project="finland-train")

[jovian] Detected Colab notebook...
[jovian] Uploading colab notebook to Jovian...
[jovian] Capturing environment..
[jovian] Committed successfully! https://jovian.ai/poddardelhi/finland-train

'https://jovian.ai/poddardelhi/finland-train'

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import numpy as np 
import pandas as pd 
import datetime as dtm
import seaborn as sns
import matplotlib.pyplot as plt
import sqlalchemy

## Loading the CSV file

In [ ]:
data= pd.read_csv("/content/drive/MyDrive/Jovian/solita_training/train-27-data-2020-01-01_to_2020-02-29.csv")

## Creating database (second way)

In [ ]:
db = sqlalchemy.create_engine('sqlite:///timeseries.db')

In [ ]:
data.to_sql('timeseries',db,if_exists="replace")

##EDA

In [ ]:
data.head()

   cancelled  commuterLineID  ... timeTableRows_trainStopping timeTableRows_type
0      False             NaN  ...                        True          DEPARTURE
1      False             NaN  ...                        True            ARRIVAL
2      False             NaN  ...                        True          DEPARTURE
3      False             NaN  ...                       False            ARRIVAL
4      False             NaN  ...                       False          DEPARTURE

[5 rows x 30 columns]

In [ ]:
df=data.drop(['timeTableRows_trainReady_timestamp','timeTableRows_trainReady_source','timeTableRows_trainReady_accepted','trainCategory','commuterLineID','operatorShortCode','operatorUICCode','runningCurrently','timetableAcceptanceDate','timetableType','version','timeTableRows_cancelled','timeTableRows_causes','timeTableRows_commercialStop','timeTableRows_commercialTrack','timeTableRows_countryCode','timeTableRows_differenceInMinutes','timeTableRows_estimateSource','timeTableRows_liveEstimateTime','timeTableRows_stationUICCode','timeTableRows_trainReady','timeTableRows_trainReady'],axis=1)

In [ ]:
df.head()

   cancelled departureDate  ...  timeTableRows_trainStopping timeTableRows_type
0      False    2020-01-01  ...                         True          DEPARTURE
1      False    2020-01-01  ...                         True            ARRIVAL
2      False    2020-01-01  ...                         True          DEPARTURE
3      False    2020-01-01  ...                        False            ARRIVAL
4      False    2020-01-01  ...                        False          DEPARTURE

[5 rows x 9 columns]

In [ ]:
df.dtypes

cancelled                           bool
departureDate                     object
trainNumber                        int64
trainType                         object
timeTableRows_actualTime          object
timeTableRows_scheduledTime       object
timeTableRows_stationShortCode    object
timeTableRows_trainStopping         bool
timeTableRows_type                object
dtype: object

## Selecting the only rows where the station code is  TPE and Train was not cancelled

In [ ]:
df_TPE= df.loc[(df['timeTableRows_stationShortCode']=='TPE') &(df['cancelled']==False)&(df['timeTableRows_type']=='ARRIVAL')]
df_TPE.reset_index(drop=True)

    cancelled departureDate  ...  timeTableRows_trainStopping timeTableRows_type
0       False    2020-01-01  ...                         True            ARRIVAL
1       False    2020-01-02  ...                         True            ARRIVAL
2       False    2020-01-03  ...                         True            ARRIVAL
3       False    2020-01-04  ...                         True            ARRIVAL
4       False    2020-01-05  ...                         True            ARRIVAL
5       False    2020-01-06  ...                         True            ARRIVAL
6       False    2020-01-07  ...                         True            ARRIVAL
7       False    2020-01-08  ...                         True            ARRIVAL
8       False    2020-01-09  ...                         True            ARRIVAL
9       False    2020-01-10  ...                         True            ARRIVAL
10      False    2020-01-11  ...                         True            ARRIVAL
11      False    2020-01-12  ...                         True            ARRIVAL
12      False    2020-01-13  ...                         True            ARRIVAL
13      False    2020-01-14  ...                         True            ARRIVAL
14      False    2020-01-15  ...                         True            ARRIVAL
15      False    2020-01-16  ...                         True            ARRIVAL
16      False    2020-01-17  ...                         True            ARRIVAL
17      False    2020-01-18  ...                         True            ARRIVAL
18      False    2020-01-19  ...                         True            ARRIVAL
19      False    2020-01-20  ...                         True            ARRIVAL
20      False    2020-01-21  ...                         True            ARRIVAL
21      False    2020-01-22  ...                         True            ARRIVAL
22      False    2020-01-23  ...                         True            ARRIVAL
23      False    2020-01-24  ...                         True            ARRIVAL
24      False    2020-01-25  ...                         True            ARRIVAL
25      False    2020-01-26  ...                         True            ARRIVAL
26      False    2020-01-27  ...                         True            ARRIVAL
27      False    2020-01-28  ...                         True            ARRIVAL
28      False    2020-01-29  ...                         True            ARRIVAL
29      False    2020-01-30  ...                         True            ARRIVAL
30      False    2020-01-31  ...                         True            ARRIVAL
31      False    2020-02-01  ...                         True            ARRIVAL
32      False    2020-02-02  ...                         True            ARRIVAL
33      False    2020-02-03  ...                         True            ARRIVAL
34      False    2020-02-04  ...                         True            ARRIVAL
35      False    2020-02-05  ...                         True            ARRIVAL
36      False    2020-02-06  ...                         True            ARRIVAL
37      False    2020-02-07  ...                         True            ARRIVAL
38      False    2020-02-08  ...                         True            ARRIVAL
39      False    2020-02-09  ...                         True            ARRIVAL
40      False    2020-02-10  ...                         True            ARRIVAL
41      False    2020-02-11  ...                         True            ARRIVAL
42      False    2020-02-12  ...                         True            ARRIVAL
43      False    2020-02-13  ...                         True            ARRIVAL
44      False    2020-02-14  ...                         True            ARRIVAL
45      False    2020-02-15  ...                         True            ARRIVAL
46      False    2020-02-16  ...                         True            ARRIVAL
47      False    2020-02-17  ...                         True            ARRIVAL
48      False    2020-02-18  ...                         True            ARRIVAL
49      False    2020-02-19  ...                         True            ARRIVAL
50      False    2020-02-20  ...                         True            ARRIVAL
51      False    2020-02-21  ...                         True            ARRIVAL
52      False    2020-02-22  ...                         True            ARRIVAL
53      False    2020-02-23  ...                         True            ARRIVAL
54      False    2020-02-24  ...                         True            ARRIVAL
55      False    2020-02-25  ...                         True            ARRIVAL
56      False    2020-02-26  ...                         True            ARRIVAL
57      False    2020-02-27  ...                         True            ARRIVAL
58      False    2020-02-28  ...                         True            ARRIVAL
59      False    2020-02-29  ...                         True            ARRIVAL

[60 rows x 9 columns]

## Separating Date and Time

In [ ]:
df_TPE['timeTableRows_actualTime']=pd.to_datetime(df_TPE['timeTableRows_actualTime'])
df_TPE['timeTableRows_scheduledTime']=pd.to_datetime(df_TPE['timeTableRows_scheduledTime'])

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [ ]:
df_TPE.dtypes

cancelled                                        bool
departureDate                                  object
trainNumber                                     int64
trainType                                      object
timeTableRows_actualTime          datetime64[ns, UTC]
timeTableRows_scheduledTime       datetime64[ns, UTC]
timeTableRows_stationShortCode                 object
timeTableRows_trainStopping                      bool
timeTableRows_type                             object
dtype: object

In [ ]:
df_TPE['arrivalDate']= df_TPE['timeTableRows_actualTime'].apply(lambda x:x.date().strftime('%d/%m/%y'))

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [ ]:
df_TPE['arrivalTime']=df_TPE['timeTableRows_actualTime'].apply(lambda x:x.strftime('%H:%M'))

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [ ]:
df_TPE.head()

     cancelled departureDate  ...  scheduleddate scheduledTime
89       False    2020-01-01  ...       01/01/20         00:00
291      False    2020-01-02  ...       02/01/20         00:00
493      False    2020-01-03  ...       03/01/20         00:00
695      False    2020-01-04  ...       04/01/20         00:00
897      False    2020-01-05  ...       05/01/20         00:00

[5 rows x 13 columns]

In [ ]:
df_TPE_clean=df_TPE.copy()
df_TPE_clean=df_TPE_clean.drop(['scheduleddate','scheduledTime','cancelled','departureDate','trainNumber','trainType','timeTableRows_actualTime','timeTableRows_scheduledTime','timeTableRows_stationShortCode','timeTableRows_trainStopping','timeTableRows_type'],axis=1)
df_TPE_clean.reset_index(drop=True)
df_TPE_clean.head(60)

      arrivalDate arrivalTime
89       01/01/20       13:57
291      02/01/20       14:04
493      03/01/20       13:57
695      04/01/20       14:06
897      05/01/20       13:56
1099     06/01/20       13:58
1301     07/01/20       13:55
1503     08/01/20       13:56
1705     09/01/20       13:56
1907     10/01/20       13:55
2109     11/01/20       14:10
2311     12/01/20       13:58
2513     13/01/20       14:00
2715     14/01/20       14:00
2917     15/01/20       14:00
3119     16/01/20       13:57
3321     17/01/20       13:55
3523     18/01/20       13:59
3725     19/01/20       14:01
3927     20/01/20       13:57
4129     21/01/20       13:58
4331     22/01/20       14:03
4533     23/01/20       14:04
4735     24/01/20       14:03
4937     25/01/20       14:00
5139     26/01/20       13:56
5341     27/01/20       14:01
5543     28/01/20       13:57
5745     29/01/20       14:06
5947     30/01/20       14:01
6149     31/01/20       14:10
6351     01/02/20       14:02
6553     02/02/20       13:59
6755     03/02/20       14:07
6957     04/02/20       13:55
7159     05/02/20       14:16
7361     06/02/20       14:23
7563     07/02/20       14:03
7765     08/02/20       13:59
7967     09/02/20       13:59
8169     10/02/20       14:03
8371     11/02/20       13:58
8573     12/02/20       13:56
8775     13/02/20       13:59
8977     14/02/20       13:57
9179     15/02/20       14:05
9381     16/02/20       13:57
9583     17/02/20       13:58
9785     18/02/20       14:03
9987     19/02/20       14:02
10189    20/02/20       13:59
10391    21/02/20       13:57
10593    22/02/20       13:58
10795    23/02/20       13:57
10997    24/02/20       13:55
11199    25/02/20       14:25
11401    26/02/20       13:59
11603    27/02/20       13:57
11805    28/02/20       14:37
12007    29/02/20       13:59

## Adding DayOfWeek column into the dataframe as commuter is looking for train on Thursday.

In [ ]:
df_TPE_clean.dtypes

arrivalDate    datetime64[ns]
arrivalTime            object
dayOfWeek              object
dtype: object

In [ ]:
df_TPE_clean['arrivalDate']=pd.to_datetime(df_TPE_clean['arrivalDate'])
df_TPE_clean['arrivalTime']=pd.to_datetime(df_TPE_clean['arrivalTime']).dt.time
df_TPE_clean['dayOfWeek']=df_TPE_clean['arrivalDate'].dt.day_name()
df_TPE_clean.head(60)

    arrivalDate arrivalTime  dayOfWeek
89   2020-01-01    13:57:00  Wednesday
291  2020-02-01    14:04:00   Saturday
493  2020-03-01    13:57:00     Sunday
695  2020-04-01    14:06:00  Wednesday
897  2020-05-01    13:56:00     Friday

In [ ]:
#Taking data of only Thursday
df_thur= df_TPE_clean.loc[(df_TPE_clean['dayOfWeek']=='Thursday')]
df_thur

      arrivalDate arrivalTime dayOfWeek
1907   2020-10-01    13:55:00  Thursday
3119   2020-01-16    13:57:00  Thursday
4533   2020-01-23    14:04:00  Thursday
5947   2020-01-30    14:01:00  Thursday
6351   2020-01-02    14:02:00  Thursday
6957   2020-04-02    13:55:00  Thursday
7563   2020-07-02    14:03:00  Thursday
8775   2020-02-13    13:59:00  Thursday
10189  2020-02-20    13:59:00  Thursday
11603  2020-02-27    13:57:00  Thursday

If there is time, write down in a few sentences how otherwise the open data provided by
the Finnish Transport Agency could be used to promote to bring business value: what are
the possibilities to use the data, what is good about it and what could be the problems?

1.  Finnish Transport Agency open data can be used in many businesses form; a data engine tool can be built using the machine learning model which could bring out the prediction model if the train will be late or not. All possible models can be built defining the business objectives around the data.
2. The Swagger tool has very minimum end point testing --> for e.g. if I want 
to extract the data from *start_date* to *end_date*. There is no possiblity as such.
3. Addition to this, the documentation provided inside insn't so informative.